p {
    font-family: Arial, Helvetica, sans-serif;
}

p, button, select {
    margin : 3px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
    outline: 1px solid rgba(194, 194, 194, 0.1);
    box-shadow: 0 0 3px rgba(135, 134, 134, 0.4);
}

.tennis-pic {
    width: 100%;
    margin: 0;
}

.title-container {
    margin: 0;
    outline: 1px solid rgba(194, 194, 194, 0.1);
    box-shadow: 0 1px rgba(135, 134, 134, 0.2);
}

/* Title: Tennis Score Keeper */
.title-container p {
    font-size : 0.6em;
    margin: 0.4em;
}

.sub-container {
    text-align: left;
    margin: 0.2em;
}

.sub-container p {
    font-size: 0.6em;
}

#score-board {
    font-size : 150%;
}

.limit-copy {
    display: inline;
}

/* BUTTONS */

.button-container {
    display: flex;
    flex-direction: row;
}

button {
    border: none;
    color: white;
    padding: 6px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.4em;
    border-radius: 0.2em;
    flex: 1;
    margin: 0;
    cursor: pointer;
}

#p-one-btn {
    background-color: #62be9c;
}

#p-two-btn{
    background-color: #7d90df;
}

#reset-btn{
    background-color: #e68e8e;
}

select {
    -webkit-appearance: none;
    width: 10%;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.7em;
    transition: all 150ms ease;
}

